<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <title>DriverGear 1.0</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<nav th:fragment="navigation" class="my-navigation">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/warehouse}">Warehouse</a></li>
        <li><a th:href="@{/administration}">Administration</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>
<footer th:fragment="footer">
    <p>Bartek Krawczyk 2025</p>
</footer>
</body>
</html>