<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html" lang="pl">
<head th:replace="components :: site-head"></head>
<body>
<div th:insert="components :: navigation"></div>
<h1>Dashboard</h1>
<p>Witaj w panelu głównym!</p>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Wyloguj">
</form>
  <table class="table">
    <thead class="table-header">
    <tr class="table-row">
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.password}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
