<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html" lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Panel główny</title>
</head>
<body>
<div layout:fragment="content">
<h1>Dashboard</h1>
<p>Witaj w panelu głównym!</p>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Wyloguj">
</form>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.username}"></td>
      <td th:text="${user.password}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
