<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorator="layout.html" lang="pl">-->

<!--<body>-->
<!--<div layout:fragment="content">-->
<!--  <h1>Witamy na stronie DriverGear!</h1>-->
<!--  <p>-->
<!--    <a th:href="@{/login}">-->
<!--      <button type="button" class="btn btn-primary">Zaloguj się</button>-->
<!--    </a>-->
<!--  </p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<section layout:fragment="content">
  <h1>Witamy na stronie DriverGear!</h1>
  <p>
    <a th:href="@{/login}">
      <button type="button" class="btn btn-primary">Zaloguj się</button>
    </a>
  </p>
</section>
<footer>
  <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>
</body>
</html>




