<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Przykładowa strona</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Link do zewnętrznego pliku CSS Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1 class="text-center mt-5">Witaj na przykładowej stronie!</h1>

  <div th:if="${message}" class="alert alert-success mt-5" role="alert">
    <p th:text="${message}"></p>
  </div>

  <form th:action="@{/submit}" method="post" class="mt-5">
    <div class="form-group">
      <label for="messageInput">Wiadomość:</label>
      <input type="text" class="form-control" id="messageInput" name="message">
    </div>
    <button type="submit" class="btn btn-primary">Wyślij</button>
  </form>
</div>

<!-- Link do zewnętrznych skryptów JavaScript Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
