<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:https="http://www.w3.org/1999/xhtml">
<head>
  <title th:replace="~{::title}">DriverGear</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Link do lokalnego pliku CSS Bootstrap -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header>
  <h2>Tutaj będzie menu</h2>
</header>

<div layout:fragment="content">
  <!-- W tej sekcji zostaną wstawione treści poszczególnych stron -->
</div>

<footer>
  <h2>Tutaj będzie footer</h2>
</footer>

<!-- Link do lokalnych skryptów JavaScript Bootstrap -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>

