<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components :: site-head"></head>
<body>
<div class="login-container">
    <img src="/images/DG_logo.svg" alt="Logo" />
<h1 class="kanit-light">Logowanie</h1>
<form th:action="@{/login}" method="post">
    <label class="kanit-light" for="username">Nazwa użytkownika:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password" required>
    <input type="submit" value="Zaloguj" class="login-button kanit-light">
</form>
<div th:if="${param.error}" class="login-error-message">
    Nieprawidłowa nazwa użytkownika lub hasło.
</div>
</div>
<div
        th:replace="components :: footer"></div>
</body>
</html>
